.font-small{
    background-color: #000;
    padding-top: 3rem;
    color: #fff;
    line-height: 1rem;
}

.font-small p {
    margin-top: 2rem;
}
.font-small p a {
    margin-top: 0rem;
    text-decoration: none;
    color: var(--light-color)
}

.font-small p a:hover{
    background-color: var(--font-color-hover);
    border-radius: 0rem;
}

.Links{
    text-decoration: none;
    color: #fff;
}