.about_container{
    margin: 3rem 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

}
.about_container img{
    border-radius: 50%;
    border: 0.5px solid rgb(218,218,218);
    margin: 1rem;
}

.about_text{
 max-width: 600px;

}


@media only screen and (max-width: 900px){
    .about_container{
        flex-direction: column;
    }
}


@media only screen and (max-width: 700px){
    .about_text{
       max-width: 300px;
       text-align: center
    }
}