.portfolio_main_container {
    background-color: var(--light-color);
    overflow: hidden;
}

.portfolio_main_container h1 , .portfolio_main_container p {
    text-align: center;
    margin-top: 3rem;
}

.portfolio_contanier{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--light-color);
}

.emoji{
    flex: 0 0 40%;
    max-width: 45%;
}

#portfolio_card_container{
    background-color: var(--light-color);
}


.portfolio_heading{
    padding-top: 60px;
    font-weight: 600;
}

.portfolio_image:hover{
    cursor: pointer;
    filter: brightness(50%)
}

.portfolio_link_info{
    text-align: center;
}

.portfolio_click_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:var(--font-color);
    display: none;
}

.portfolio_image:hover+.portfolio_click_info{
    display: block;
}

.modal-backdrop.show {
    opacity: .1 !important;
}

#portfolio_modal_link{
    padding: 0 0 1rem 1rem;
}

#portfolio_modal_link:link{
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    #portfolio_card_container{
        width: 100%;
        padding: 0.5rem 2.5rem;
        border: none;
    }
    .emoji{
        flex: 0 0 40%;
        max-width: 45%;
    }

}

@media (min-width: 601px) and (max-width: 1400px){
    #portfolio_card_container{
        padding: 0.5rem 2.5rem;
        border: none;
    }

}